:root {
  --lato-font: "Lato", sans-serif;
  --paragraph-color : #737373
}

body {
  /* width: 1463px; */
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero-section {
  height: 130vh;
  width: 100%;
  /* position: relative; */
}

nav {
  margin-bottom: -18px;
}

#active {
  color: #3fc4ff;
}

li,
a,
button {
  font-family: var(--lato-font);
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 6%;
}

.logo {
  cursor: pointer;
  height: 64px;
  width: 209px;
}
.navlink {
  list-style: none;
}
.navlink li {
  display: inline-block;
  padding: 0px 20px;
  font-family: var(--lato-font);
}
.navlink li a {
  color: black;
}

button {
  padding: 9px 25px;
  border: none;
  /* border-radius: 50px; */
  background: none;
  cursor: pointer;
  font-family: var(--lato-font);
  color: black;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
}

.btn1 {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: var(--lato-font);
  background-color: #3fc4ff;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
}

h1 {
  font-family: var(--lato-font);
  font-weight: 700;
  font-size: 80px;
  line-height: 111px;
  margin-left: -42px;
}

.left p {
  width: 71%;
  margin-left: -42px;
}
.left button {
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  margin-left: -42px;
}

#readmore {
  margin-left: 12px;
  color: #1e293b;
  font-family: var(--lato-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}
#readmore a{
  color: #1E293B;
}
.span-arrow {
  padding: 5px;
}
#getcourses {
  font-family: var(--lato-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  background-color: #3fc4ff;
}
#getcourses a{
  color: #ffffff;
}

#count {
  background-color: #946fc6;
  height: 200px;
  width: 1436px;
  position: absolute;
  top: 800px;
  left: 35px;
  border-radius: 15px;
}
.part {
  display: flex;
  align-items: flex-start;
  align-items: center;
  position: relative;
  width: 20%;
  /* background-color: #3fc4ff; */
}
.bgg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  background-color: white;
}
.img-course {
  width: 62px;
  height: 52px;
}
#content h3 {
  font-family: var(--lato-font);
  font-size: 50px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding: 20px;
  color: #ffffff;
  padding-bottom: inherit;
}
#content p {
  font-family: var(--lato-font);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  padding: 0 21px;
}
.corses-text {
  font-family: var(--lato-font);
  margin: 12px 0;
}
.course-heding {
  font-size: 60px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0em;
}

.span-courses {
  color: #946fc6;
}

.carosol {
  width: 100%;
  /* background: red; */
  /* padding-top: 26px; */
}

#shapes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  /* padding: 15px 88px ; */
}

.slider {
  display: flex !important;
  justify-content: space-around !important;
  padding: 0 10%;
  width: 95%;
}

.shaps {
  position: relative;
  height: 215px !important;
  width: 215px !important;
  background-color: rgba(255, 255, 255, 1);
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  /* box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.08); */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  box-shadow: 0px 4px 10px 0px #00000014;

}

.left-arrow {
  position: absolute;
  top: 330%;
  left: 30px;
  height: 72px;
  z-index: 15;
  width: 72px;
}

.right-arrow {
  position: absolute;
  top: 330%;
  right: 2%;
  height: 72px;
  width: 72px;
}

#best{
  font-family: var(--lato-font);
  font-weight: 700;
  font-size: 60px;
  line-height: 75px;
  width: 140%;
  margin-left: -16%;
}

#best_para{
  font-family: var(--lato-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--paragraph-color);
  margin-left: -16%;
}

#best_btn{
  font-family: var(--lato-font);
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  margin-left: -16%;
}

.row2 {
  margin: 0px -16px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.col-3 {
  background: white;
  border-radius: 24px;
  box-shadow: 0px 1px 10px 4px #1E293B0D;
}

/* .col-3 h4 {
  font-size: 1.3rem;
} */

.col-3 {
  margin-bottom: 73px;
  margin-inline-start: auto;
  padding: 0 16px;
}

.text11{
  font-family: var(--lato-font);
  font-weight: 600;
  font-size: 30px;
}

.col--3 p{
  font-family: var(--lato-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--paragraph-color);
}

.col--3 {
  padding: 1rem;
}
.col--3 img{
  margin: 12px 0px 15px 0px;
  padding: 15px;
  border-radius: 10px;
  height: 71px;
  width: 73px;
}

.col--3 text{
  margin-top: 15px;
}

.text {
  padding-top: 10%;
  padding-left: 8%;
  padding-bottom: 26px;
}

.text h4 {
  font-family: var(--lato-font);
  font-weight: 700px;
  font-size: 60px;
  line-height: 30px;
  padding-bottom: 15px;
}
.text p {
  font-family: var(--lato-font);
  font-weight: 400px;
  font-size: 20px;
  line-height: 30px;
  width: 40%;
  color: gray;
}

.container {
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 10px;
  /* width: 20rem;  */
  width: 410px;
  border-radius: 15px;
}
.card img {
  padding: 12px;
}

.card span{
  margin: 0 16px -4px 16px;
  /* margin: 0 16px; */
}

#card_science{
  color: #3FC4FF;
  background-color: #3fc4ff29;
  width: 93px;
  height: 24px;
  text-align: center;
  border-radius: 5px;
}

#card_Maths{
  color: #946FC6;
  background-color:  #946fc61f;
  width: 108px;
  height: 24px;
  text-align: center;
  border-radius: 5px;
}

#card_English{
  color: #798EE4;
  background-color: #798ee433;
  width: 93px;
  height: 24px;
  text-align: center;
  border-radius: 5px;
}

.card-title{
  font-family: var(--lato-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #1E293B;
}

.card-text{
  font-family: var(--lato-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--paragraph-color);
}

.card-btn{
  display: flex;
  height: 30px;
  width: 123px;
  padding: 5px 15px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-family: var(--lato-font);
  background-color: #3fc4ff;
  color: white;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.icon_text{
  margin-top: 5px;
  font-family: var(--lato-font);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--paragraph-color);
}
#user{
  background: #3FC4FF1A;
  color: #3FC4FF;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#star{
  background: #946FC61A;
  color: #946FC6;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

#dollar{
  background: #946FC61A;
  color: #946FC6;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.img_teacher img {
  height: 400px;
  width: 350px;
  margin: 92px 0;
}
.img_parents img {
  height: 400px;
  width: 350px;
  margin: 92px 0;
}

.txt_teacher {
  margin-top: 155px;
  margin-left: 54px;
}
.txt_teacher h4 {
  font-family: var(--lato-font);
  font-weight: 300;
  font-size: 60px;
  line-height: 66px;
  color: #FFFFFF;
}

.txt_teacher p {
  width: 89%;
  margin-left: 12px;
  color: #FFFFFF;
}

.img_parents img{
  height: 400px;
  width: 350px;
}

.txt_parents{
  margin-top: 155px;
  margin-left: 54px;
}

.txt_parents h4 {
  font-family: var(--lato-font);
  font-weight: 300;
  font-size: 60px;
  line-height: 66px;
  color: #FFFFFF;
}

.txt_parents p {
  width: 89%;
  margin-left: 5px;
  color: #FFFFFF;
}


.btn_parents{
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: var(--lato-font);
  background-color: #946fc6;
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 21.6px;
}

.heading{
  margin-top: 7%;
  text-align: center;
}
.heading h4{
  font-family: var(--lato-font);
  font-weight: 700;
  font-size: 60px;
  line-height: 30px;
  margin-bottom: 30px;
}

.person img{
  margin: 61px 0 23px 0 ;
}

.person_heading{
  font-family: var(--lato-font);
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: -5px;
}

.person_para{
  font-family: var(--lato-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
}

.person_info{
  font-family: var(--lato-font);
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left-arr{
  position: absolute;
  top: 714%;
  left: 4%;
}

.right-arr{
  position: absolute;
  top: 714%;
  right: 4%;
}

/* footer */

#footer{
  /* background-color:  rgba(30, 41, 59, 0.2); */
  background-color: #F1F1FC;
}
#facebook{
  background-color: rgba(59, 89, 152, 0.2);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
#facebook img{
  height: 19px;
  width: 19px;
}
#instagram{
  background-color: rgba(214, 41, 118, 0.15);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
#instagram img{
  height: 19px;
  width: 19px;
}
#twitter{
  background-color:  rgba(0, 172, 238, 0.2);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
#twitter img{
  height: 19px;
  width: 19px;
}
#youtube{
  background-color: rgba(255, 0, 0, 0.15);
  height: 44px;
  width: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#youtube img{
  height: 19px;
  width: 19px;
}
#quick-links ul{
  list-style: none;
}
#more-links ul{
  list-style: none;
}

#newsletter input{
  width: 233px;
  height: 45px;
  border: none;
  padding: 15px 15px;
  border-radius: 5px 0px 0px 5px;

}
.share_icon{
  background-color: #946fc6;
  padding: 11px;
}
.share_icon img{
  width: 20px;
}
